<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Client-side ASCII art generator">
    <meta name="keywords" content="ASCII, Art">
    <meta name="author" content="Gengyuan Huang">
    <meta name="og:title" property="og:title" content="Aghnu's ASCII Art Generator">
    <link rel="stylesheet" href="https://www.aghnu.me/static/font/classic_console_neue/font.css">
    <title>Aghnu's ASCII Art Generator</title>
</head>
<body>
    <noscript>
        <p>This site requires JavaScript to be enabled</p>
    </noscript>
</body>
</html>