

html {
    background-color: black;
    font-size: $site-size-unit;
    font-family: "Classic Console Neue";

    p {
        margin: 0;
        padding: 0;
        color: #ab9877;
    }
}

body {
    margin: 0;
    padding: 0;
}

p {
    a {
        color: #ab9877;
    }
}