#img-src {
    display: none;
}

#img-upload {

}

#ascii-art-showcase {
    .row {
        margin: -0.3em;
        overflow: hidden;
        white-space: nowrap;
    }

    .char {
        display: inline-block;
        height: 0.6em;
        width: 0.6em;
        font-family: "Classic Console Neue";
    }
}