#img-src {
    display: none;
}

#img-upload {

}

#ascii-art-showcase {
    .row {
        margin: -0.2em;
    }

    .char {
        display: inline-block;
        height: 1em;
        width: 0.625em;
    }
}